In [5]:
%matplotlib inline
import pandas as pd

In [6]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [7]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

               title  year
0  La kermesse rouge  1947
1   Surcos en el mar  1956
2    Out of Brooklyn  2015
3           Zulu Six  2015
4     The Crossing 2  2015

In [8]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [9]:
len(titles)

218685

### What are the earliest two films listed in the titles dataframe?

In [17]:
titles.sort('year').head(2)

                                                    title  year
92148                                          Miss Jerry  1894
151430  Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [19]:
len(titles[titles.title == "Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [20]:
len(titles[titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [21]:
titles[titles.title == "Hamlet"].sort('year').head(1)

         title  year
218469  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [22]:
titles[titles.title == "Treasure Island"].sort('year')

                  title  year
119666  Treasure Island  1918
186679  Treasure Island  1920
200674  Treasure Island  1934
50941   Treasure Island  1950
67849   Treasure Island  1972
202992  Treasure Island  1973
39564   Treasure Island  1985
122998  Treasure Island  1999

### How many movies were made in the year 1950?

In [23]:
len(titles[titles.year == 1950])

1039

### How many movies were made in the year 1960?

In [24]:
len(titles[titles.year == 1960])

1473

### How many movies were made from 1950 through 1959?

In [26]:
len(titles[(titles.year > 1950) & (titles.year < 1959) ])

9733

### In what years has a movie titled "Batman" been released?

In [27]:
t = titles

In [28]:
t[t.title == "Batman"].year

140100    1943
170109    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [29]:
c = cast

In [30]:
len(c[c.title == 'Inception'])

74

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [34]:
len(c[(c.title == 'Inception') & c.n.isnull()])

23

In [35]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

23

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [10]:
len(titles)

218685

In [11]:
h=titles.tail(80)

In [12]:
h[h.year > 2000]

                                                 title  year
218605                                   Son of Flower  2012
218606                             Chicks Dig Gay Guys  2014
218607                                      Non Exitus  2016
218610                                Scrooge & Marley  2012
218612                                       Longevity  2005
218613                                        Gitaskog  2015
218615                                One Stormy Night  2015
218616                              Frygtelig lykkelig  2008
218618                           El quinto mandamiento  2012
218622  Pelukang itim: Agimat ko ito for victory again  2005
218624                                      Les Jaunes  2014
218626                                  The Black Dawn  2009
218627                                    Dark Threads  2009
218631                            The Impossible Dream  2015
218634                                           Imbue  2015
218637                                  Broken Kingdom  2012
218639                                   Pandora's Box  2002
218640                                      Little Boy  2015
218641                               Beautiful Dreamer  2006
218642                                      Mojo Tango  2010
218643                                          Senile  2012
218647            Utomlyonnye solntsem 2: Predstoyanie  2010
218656                                     People Talk  2006
218657                        La mia squadra del cuore  2003
218658                                     Unconscious  2016
218664                          The Great Cinema Party  2012
218665                           O Tormento de Mathias  2011
218667                                  Fist of Dragon  2011
218669                        Red Shoes & the 7 Dwarfs  2017
218670                                          All In  2006
218672                                        Quackerz  2015
218673                               The Last Immortal  2016
218676                               The Lather Effect  2006
218678                     Spiritual Contact the Movie  2014
218684                                   Truth Be Told  2002